* {
  padding: 0;
  margin: 0;
}
.nav-left ul {
  list-style-type: none;
}
body {
  background-color: #f0f0f0;
}
.navigation {
  background-color: #f6dcac;
  height: 4vw;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.content {
  height: 95px;
  background-color: #dfd0b8;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #3c5b6f;
  height: 34px;
}
#logo {
  height: 3vw;
}
#search {
  background-color: #028391;
  margin-right: 15px;
}
.nav-left {
  margin-left: 15px;
  display: flex;
}
.nav-left ul {
  display: flex;
}
.nav-left ul li {
  list-style: none;
  margin:0 14px;
}
.nav-left ul li a{
  text-decoration: none;
}
