@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #028391;
  --font-1: "Prompt", sans-serif;
  --font-2: "Roboto Condensed", sans-serif;
}

.max-width-1 {
  max-width: 50vw;
  margin:100px auto;
}

.max-width-2 {
  min-width: 70vw;
  margin :100px auto;
}

.m-auto {
  margin: auto;
}

.btn {
  padding:0px 15px;
  border-radius: 20px;
  max-height: 40px;
  width: 80px;
  cursor:pointer;
}

/* option 1 */
/* input[type="text"] {
  width: 60;
  padding: 10px 20px;
  margin: 3px 2px;
  border-radius: 20px;
} */


.form-input {
  padding:0px 11px;  
  font-size:16px;
  border:2px solid black;
  border-radius:4px;
  margin:0px 13px;
  font-family: var(--font-2);
}

/* .fade{
  width:60vw;
  max-width: 80vw;
  margin:auto;
  background-color:linear-gradient(
    transparent 12%,
    currentColor 30%,
    currentColor 70%,
    transparent 80%,
  );
  background-clip:text;
  -webkit-background-clip:text;
  background-attachment: fixed;
} */


